{%- capture section_settings -%}
{
  "stackable": true,
  "layout": "vertical"
}
{%- endcapture -%}

{% assign layout_setting = 'vertical' %}
{% assign stackable = true %}

<section class="section" data-section-id="{{ section.id }}" data-section-type="featured-collection" data-section-settings='{{ section_settings }}'>
  {%- assign collection = section.settings.collection -%}

  <div class="container">
    <header class="section__header collection-header-section" style="align-items:{{ section.settings.alignment_title }};" >
      <div class="section__header-stack"> 
        <h2 class="section__title heading h3">
          {%- if section.settings.title != 'blank' -%}
          {{ section.settings.title }}
          {%- else -%}
          {{ collection.title | default: collection.title | escape }}
          {%- endif -%}
        </h2>

      </div>

      {%- if section.settings.link_title != blank -%}
        <a href="{{ section.settings.link_url | default: collection.url | default: '#' }}" class="section__action-link link hidden-tablet hidden-phone">{{ section.settings.link_title | escape }} {% render 'icon', icon: 'tail-right' %}</a>
      {%- endif -%}
    </header>
  </div>

  <div class="container {% if layout_setting != 'vertical' or stackable %}container--flush{% endif %}">
    {%- capture product_list -%}
      <div class="product-list product-list--{{ layout_setting }} {% if stackable %}product-list--stackable{% elsif layout_setting == 'vertical' %}product-list--scrollable{% endif %}">
        {%- assign use_placeholder = true -%}

        {%- if collection == blank -%}
          {%- assign products = (1..section.settings.products_count) -%}
        {%- else -%}
          {%- assign products = collection.products -%}
          {%- assign use_placeholder = false -%}
        {%- endif -%}

        {%- for product in products limit: section.settings.products_count -%}
          {%- if layout_setting == 'vertical' -%}
            {%- assign products_per_row = section.settings.products_count | at_most: 6 -%}

            {%- if stackable -%}
              {%- capture grid_classes -%}1/2 1/4--tablet-and-up 1/4--lap 1/{{ products_per_row }}--desk 1/{{ products_per_row }}--wide{%- endcapture -%}
            {%- else -%}
              {%- capture grid_classes -%}1/4--lap 1/{{ products_per_row }}--desk 1/{{ products_per_row }}--wide{%- endcapture -%}
            {%- endif -%}

            {%- if use_placeholder -%}
              {%- render 'product-item-placeholder', product: product, grid_classes: grid_classes, show_add_to_cart: section.settings.show_quick_buy -%}
            {%- else -%}
              {%- render 'product-item', product: product, bgcolor: section.settings.color_section, grid_classes: grid_classes, show_add_to_cart: section.settings.show_quick_buy -%}
            {%- endif -%}
          {%- elsif layout_setting == 'horizontal' -%}
            {%- if use_placeholder -%}
              {%- render 'product-item-placeholder', product: product, horizontal: true, grid_classes: '1/2--tablet 1/3--lap-and-up', show_add_to_cart: false -%}
            {%- else -%}
              {%- render 'product-item', product: product, bgcolor: section.settings.color_section, horizontal: true, grid_classes: '1/2--tablet 1/3--lap-and-up', show_add_to_cart: false -%}
            {%- endif -%}
          {%- else -%}
            {%- assign mod = forloop.index0 | modulo: 3 -%}

            {%- if mod == 0 -%}
              <div class="product-list__column product-list__column--highlight">
            {%- elsif mod == 1 -%}
              <div class="product-list__column {% if forloop.last %}product-list__column--shrink{% endif %}">
            {%- endif -%}

            {%- if mod == 0 -%}
              {%- if use_placeholder -%}
                {%- render 'product-item-placeholder', product: product, show_add_to_cart: false -%}
              {%- else -%}
                {%- render 'product-item', product: product, show_add_to_cart: false -%}
              {%- endif -%}
            {%- else -%}
              {%- if use_placeholder -%}
                {%- render 'product-item-placeholder', product: product, horizontal: true, show_add_to_cart: false -%}
              {%- else -%}
                {%- render 'product-item', product: product, horizontal: true, show_add_to_cart: false -%}
              {%- endif -%}
            {%- endif -%}

            {%- if mod == 0 or mod == 2 or forloop.last -%}
              </div>
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
      </div>
    {%- endcapture -%}

    {%- if layout_setting == 'vertical' and stackable == false -%}
      <div class="scroller">
        <div id="scroller-{{ section.id }}" class="scroller__inner">
          {{ product_list }}

          <div class="swiper-nav swiper-button-prev"></div>
          <div class="swiper-nav swiper-button-next"></div>
        </div>
      </div>
    {%- else -%}
      {{ product_list }}
    {%- endif -%}

    {%- if section.settings.link_title != blank -%}
    <div class="button-wrapper">
      <a href="{{ section.settings.link_url | default: collection.url | default: '#' }}" class="button button--primary button--min-width hidden-lap-and-up">{{ section.settings.link_title | escape }}</a>
    </div>
    {%- endif -%}
  </div>

  {%- comment -%}
  --------------------------------------------------------------------------------------
  QUICK VIEW CONTAINER
  --------------------------------------------------------------------------------------
  {%- endcomment -%}

  <div id="modal-quick-view-{{ section.id }}" class="modal" aria-hidden="true">
    <div class="modal__dialog modal__dialog--stretch" role="dialog">
      <button class="modal__close link" data-action="close-modal" title="{{ 'general.accessibility.close' | t | escape }}">
        {%- render 'icon', icon: 'close' -%}
      </button>

      <div class="modal__loader">
        {%- render 'icon', icon: 'search-loader' -%}
      </div>

      <div class="modal__inner"></div>
    </div>
  </div>
</section>

<style>
    section[data-section-id="{{ section.id }}"] {
      background: {{ section.settings.section_background }};
    }
</style>

{% schema %}
{
  "name": "Featured collection",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured collection"
    },
    {
      "type": "select",
      "options": [
        {
          "group": "center",
          "value": "center",
          "label": "center"
        },
        {
          "group": "left",
          "value": "baseline",
          "label": "left"
        }
      ],
      "id": "alignment_title",
      "default": "center",
      "label": "Alignment",
      "info": "Heading Collection Alignment"
    },
    {
      "type": "color_background",
      "id": "section_background",
      "default": "#F3F4F5",
      "label": "Section Background",
      "info": "Background Color Section"
    },
    {
      "type": "range",
      "id": "products_count",
      "label": "Products to show",
      "min": 4,
      "max": 50,
      "step": 1,
      "default": 12
    },
    {
      "type": "checkbox",
      "id": "show_quick_buy",
      "label": "Show quick buy",
      "default": false
    },
    {
      "type": "text",
      "id": "link_title",
      "label": "Link title",
      "default": "View all"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL",
      "info": "If empty, the collection URL is used."
    }
  ],
  "presets": [
    {
      "category": "Collection",
      "name": "Featured collection",
      "settings": {}
    }
  ]
}
{% endschema %}

{% comment %}
  "stackable": {% if section.settings.layout == 'vertical' and section.settings.stack_products == false %}false{% else %}true{% endif %},
  "layout": {{ section.settings.layout | json }}

  {
      "type": "select",
      "id": "layout",
      "label": "Product grid layout",
      "options": [
        {
          "value": "vertical",
          "label": "Vertical"
        },
        {
          "value": "horizontal",
          "label": "Horizontal"
        },
        {
          "value": "collage",
          "label": "Collage"
        }
      ],
      "default": "vertical"
    },
    {
      "type": "checkbox",
      "id": "stack_products",
      "label": "Stack products",
      "info": "Only applicable if layout is set to vertical",
      "default": false
    },

  
{% endcomment %}